name: Deploy to Linode

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout server repository 
      uses: actions/checkout@main

    - name: Clone client repository
      uses: actions/checkout@main
      with: 
        repository: DevProjectEkla/ReactWebChatClient
        path: client
  
    - name: Set up Node.js
      uses: actions/setup-node@main
      with:
        node-version: '21.7.2'

    - name: Install server dependencies
      run: |
        npm install

    - name: Install client dependencies
      run: |
        cd client
        npm install

    - name: Build Client
      run: |
        cd client
        CI=false npm run build
    
    - name: Copy client build to server
      run: |
        rm -fr server/build/*
        cp -R client/build/* server/build/

     
    - name: Deploy to Linode
      uses: easingthemes/ssh-deploy@main
      env:
        SSH_PRIVATE_KEY: ${{ secrets.LINODE_SSH_KEY_WORKFLOW }}
        ARGS: "-rltgoDzvO --delete --exclude-from=server/.rsyncignore"
        SOURCE: "server/"
        REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
        REMOTE_USER: ${{ secrets.REMOTE_USER }}
        TARGET: ${{ secrets.REMOTE_TARGET }}
        REMOTE_PORT: ${{ secrets.REMOTE_SSH_PORT }}

    # - name: Set up SSH
    #   uses: webfactory/ssh-agent@v0.5.3
    #   with:
    #     ssh-private-key: ${{ secrets.LINODE_SSH_KEY_WORKFLOW }}

    # - name: Print environment variables
    #   run: env
    # - name: Deploy to Linode
    #   run: ${{ secrets.SSH_STRING_COMMAND }} 
